.btn_container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    gap: 20px;
    justify-content: flex-start;
    align-items: flex-end;
    padding: 30px;
}

#logo {
    margin-right: auto;
    /* flex-grow: 1; */
}

@media screen and (max-width: 609px) {
    #logo {
        flex-grow: 1;
        order: 0;
    }
    
}

.header_btn {
    font-family: sans-serif;
    font-size: large;
    color: white;
    background-color: #2c3531;
    border: none;
    cursor: pointer;
}