.main {
    height: 680px;
    background-color: white;
}

.img_cls {
    height: 80px;
    margin: 10px;
}

.btn_pos {
    position: absolute;
    padding: 70px 40px;
}

.user {
    border: 2px solid rgba(255, 166, 0, 0.469);
    width: 300px;
    height: 100px;
    float: inline-start;
    background-color: white;
    margin: 20px;
    position: relative;
}

.github_btn {
    background-color: #efa720;
    border: none;
    color: white;
    border-radius: 8px;
}


.user_name {
    position: absolute;
    padding: 40px;

}
