.container {
    margin: -8px;
    display: flex;
    flex-direction: column;
}
.header {
    width: 100%;
    /* align-items: center; */
    /* height: calc(100vh - 750px); */
    /* display: flex
; */
    /* justify-content: flex-end; */
    /* border-bottom: 1px solid black; */
    background-color: #2c3531;
}

.navigation {
    /* float: left; */
    /* width: 25%; */
    /* height: calc(100vh - 160px); */
    background-color: #2c3531;
    border-radius: 0 8px 8px 8px;
    display: flex;
    /* align-items: center;
    justify-content: center; */
}

.main {
    background-color: #ece6e2;
    display: flex;
    flex-grow: 1;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #2c3531;
    display: flex;
    align-items: center;
    justify-content: center;
  
}