.sidebar_container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex: 1 1 5rem;
    /* justify-content: space-around;
    align-items: center; */
}

.list_items {
    /* display: flex; */
    color: white;
    padding: 0 10px;
}

.list_items:hover{
    cursor: pointer;
}