<div>
    <form [formGroup]="form" (ngSubmit)="registerForm()">
        <div>
            <label>Name</label>
            <input formControlName="name" type="text"  />
            <small *ngIf="form.get('name').invalid && form.get('name').touched">Enter a valid name</small>
        </div>

        <div>
            <label>Password</label>
            <input formControlName="password" type="text"  />
            <small *ngIf="form.get('password').invalid && form.get('password').touched">Enter a valid password</small>
        </div>

        <div>
            <label>Email</label>
            <input formControlName="email" type="email"  />
            <small *ngIf="form.get('email').errors && form.get('email').errors.required && form.get('email').touched">
                Enter an email id</small>
            <small *ngIf="form.get('email').errors && form.get('email').errors.email && form.get('email').touched">
                Enter a valid email id</small>
        </div>

        <button type="submit" [disabled]="form.invalid">Register</button>
    </form>
</div>